/ {
    aliases {
        uros-serial-port = &usart1;
        
    };
    chosen {
        zephyr,canbus = &fdcan1;
        //zephyr,console=&usart1;
    };
};


&lpuart1{
    status="okay";
    current-speed=<115200>;
    //status = "disabled";
};


zephyr_udc0: &usb {
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
}; 
 
&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
            compatible = "zephyr,cdc-acm-uart";
            label = "CDC_ACM_0";
    };
}; 

&usart1{
    //pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
    pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
    pinctrl-names="default";
    current-speed=<921600>;
    status="okay";
    
};
&i2c4 {
    clock-frequency = <I2C_BITRATE_FAST>;
    status = "okay";
    pinctrl-0 = <&i2c4_scl_pc6 &i2c4_sda_pc7>;
	pinctrl-names = "default";


    
    lis3mdl: lis3mdl-magn@1c                                                           {
        compatible = "st,lis3mdl-magn";
        reg = <0x1c>;
        status = "okay";
        irq-gpios = < &gpiob 14 GPIO_ACTIVE_HIGH >;
    };

    
};

&spi3 {                                                                                                                                            
    clock-frequency = <1000000>;                                                                                                                   
    status = "ok";                                                                                                                                 
    cs-gpios = <&gpioa 15 GPIO_ACTIVE_LOW>,                                                                                                        
                <&gpiod 2 GPIO_ACTIVE_LOW>;                                                                                                        
    bmi08x-accel@0 {                                                                                                                               
        compatible = "bosch,bmi08x-accel";                                                                                                         
        reg = <0x0 >;                                                                                                                              
        spi-max-frequency = <0>;                                                                                                                   
        accel-hz = "100";                                                                                                                          
        accel-fs = <4>;                                                                                                                            
        int-gpios = <&gpiob 15 GPIO_ACTIVE_LOW>;                                                                                                   
        int1-map-io = <1>;                                                                                                                         
        int1-conf-io = <0>;                                                                                                                        
        int2-map-io = <0>;                                                                                                                         
        int2-conf-io = <0>;                                                                                                                        
                                                                                                                                                   
    };                                                                                                                                             
                                                                                                                                                   
    bmi08x-gyro@1 {                                                                                                                                
        compatible = "bosch,bmi08x-gyro";                                                                                                          
        reg = <0x1 >;                                                                                                                              
        spi-max-frequency = <6000000>;                                                                                                             
        gyro-hz = "100_32";                                                                                                                        
        gyro-fs = <500>;                                                                                                                           
        int-gpios = <&gpiob 4 GPIO_ACTIVE_LOW >;                                                                                                   
        int3-4-map-io = <128>;                                                                                                                     
        int3-4-conf-io = < 0 >;                                                                                                                    
    };                                                                                                                                             
                                                                                                                                                   
}; 


